<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexleo.mytranslucentstatusbardemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BoHeTranslucent" />
        <activity
            android:name=".ScrollingImgTranslucentActivity"
            android:label="@string/title_activity_scrolling_img_translucent" />
        <activity android:name=".PuTongToolBarTranslucent" />
        <activity android:name=".TransparentImgAct" />
        <activity
            android:name=".DrawerLayoutAct"
            android:label="@string/title_activity_drawer_layout" />
        <activity android:name=".FragmentStatusAct"></activity>
    </application>

</manifest>